// * ========================================================================
//   # OBJECT -> Buttons
//   ======================================================================== */


/*********************************************************
********************************************************
** TEXT SHARED
********************************************************
*********************************************************/
%btn-general{
  @extend .u-text--bold;

  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
}

%btn-hover{ &:hover{ opacity: 0.8; } }


/*********************************************************
********************************************************
** COLORS
********************************************************
*********************************************************/






/*********************************************************
********************************************************
** SIZES LG & MD
********************************************************
*********************************************************/




/*********************************************************
********************************************************
** RENDER
********************************************************
*********************************************************/
