// * ========================================================================
//   # OBJECT -> Links
//   ======================================================================== */

/*
** === Main shared rules ===
*/

%link-shared{
  cursor: pointer;  
}



/*
** === Main styles ===
*/
%link-main{
  text-decoration: underline;

  &:hover{ text-decoration: none;}
}




/*
** === Classes ===
*/
.o-link{
  @include extend-array('link-', 'shared', 'main');
}
