// * ========================================================================
//   # !!ONLY DEV MODE!! DEBUG -> Return to feedback with fake props
//   ======================================================================== */

/*
** === USAGE ===
**
** div.d
*/

.d{
  background-color: rgba(0,0,0,0.1);
  border: 1px solid #000;
  min-height: 100px;
}